<div class="box1">
   
        <div class="info">
          <div id="info">
            <h1>iPhone 14 </h1>
            <p>Grande y extragrande. </p>
            <a href="https://www.apple.com/co/iphone-14/">Más informacion ></a>
          </div>
            <a href="https://www.apple.com/co/iphone-14/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 164259.jpg" alt=""></a>
        </div>
       
</div>
<hr>
<div class="box2">
   
    <div class="layer2">
      <div id="layer2">
        <h1 class="newfont">iPhone 14 Pro </h1>
        <p class="newfont" id="texto">Se pasa de pro. </p>
        <a  id="enlace" href="https://www.apple.com/co/iphone-14-pro/">Más informacion ></a>
      </div>
        <a href="https://www.apple.com/co/iphone-14-pro/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 173538.jpg" alt=""></a>
    </div>
   
</div>
<hr>
