<div class="box1">
   
        <div class="info">
          <div id="info">
            <h1>iPhone 14 </h1>
            <p>Grande y extragrande. </p>
            <a href="https://www.apple.com/co/iphone-14/">Más informacion ></a>
          </div>
            <a href="https://www.apple.com/co/iphone-14/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 164259.jpg" alt=""></a>
        </div>
       
</div>
<hr>
<div class="box2">
   
    <div class="layer2">
      <div id="layer2">
        <h1 class="newfont">iPhone 14 Pro </h1>
        <p class="newfont" id="texto">Se pasa de pro. </p>
        <a  class="enlace" href="https://www.apple.com/co/iphone-14-pro/">Más informacion ></a>
      </div>
        <a href="https://www.apple.com/co/iphone-14-pro/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 173538.jpg" alt=""></a>
    </div>
   
</div>
<hr>
<div class="box3">
   
  <div class="layer3">
    <div id="layer3">
      <h1 class="textowatch" ><img  id="apple-icon" src="../../../../assets/img/icons8-mac-os-90.png">WATCH </h1>
      <p  id="textowatch">SERIES 8 </p>
      <p  id="textowatch-sub">Una evolucion muy saludable. </p>
      <a  class="enlace" id="vermas" href="https://www.apple.com/co/apple-watch-series-8/">Más informacion ></a>
    </div>
      <a   href="https://www.apple.com/co/apple-watch-series-8/"><img   id="watch" src="../../../../assets/img/Captura de pantalla 2023-02-10 153712.jpg" alt=""></a>
  </div>
 
</div>
<hr>
<div class="box4">
  <div class="sub_box1">
    <div id="info">
      <h1 class="titlesb" >MacBook Pro</h1>
      <p class="sub-text">Con los superpoderes de los chips<br> M2 Pro y M2 Max. </p>
      <a  class="link"href="https://www.apple.com/co/iphone-14-pro/">Más informacion ></a>
    </div>
       <a  class ="img"href="https://www.apple.com/co/iphone-14-pro/"><img src="../../../../assets/img/cumpuss.jpg" alt=""></a> -->
  </div>
  <div class="sub_box2">
    <div id="info2">
      <h1 class="titlesb" >Mac mini </h1>
      <p class="sub-text" >Con los superpoderes de los chips <br>M2 y m2 Pro. </p>
      <a    class="link"href="https://www.apple.com/co/iphone-14-pro/">Más informacion ></a>
    </div>
       <a   class ="img" href="https://www.apple.com/co/iphone-14-pro/"><img src="../../../../assets/img/macmini.jpg" alt=""></a> -->
  </div>
</div>
<hr>