.box1,
.box2,
.box3{
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 background-color: #FBFBFD;
}
.box2,
.box3
{
    background-color: #000000;
}
a{
    width: 100%;
}
.link{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    position: relative;
    width: 100%;
    height: 400px;
    z-index:1;
    padding-top: 10%;
}
#watch{
    width: 800px;
    height: 340px;
    padding-top: 200px;
}
.box1 .info,
.box2 .layer2,
.box3 .layer3{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
   
}
.box1 .info #info,
.box2 .layer2 #layer2,
.box3 .layer3 #layer3{
    position: absolute;
    z-index:3;
    margin: 0 auto;
    margin-top: -340px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
h1{
    margin: 0 auto;
    font-size: 54px;
   font-weight: 500;
}
.titlesb{
    font-size: 40px;
    font-weight: 500;
    color: #FBFBFD;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p{
    font-size:28px;
   font-weight: 450;
   margin-bottom: 10px;
}
a{
    font-size:20px;
    margin: 40px;
    color: #0066CC
}

hr{
    height:10px;
    background-color: #FBFBFD;
}
.newfont{
    color: #FBFBFD;  
}
.textowatch{
    font-size: 44px;
    color: #FBFBFD;  
    margin-left: 130px;
}
#textowatch{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    color:rgb(179, 29, 29);
    margin-left: 190px;
}
#texto,
.enlace,
#textowatch-sub{
    margin-left: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#vermas{
margin-left:160px;

}

#textowatch-sub,
.sub-text{
    font-size: 27px;
    color: #FBFBFD;  

}
.sub-text{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#apple-icon{
width: 44px;
height: 44px;
margin-left: 5px;

}
.box4{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
    height:100%;
    justify-content: center;
    background-color: #FBFBFD;
    margin-bottom: 80px;
}
.box4 #sub_box1{
    width: 48%;
    height: 670px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    border: 12px solid white;
    background-color: #000000;
}
.box4 #sub_box1 #info
{
    text-align: center;
padding-top:97px;
}
.img{
  
    margin: auto;
    width: 604px
}
#imgbox{
    width:100%;
    height: 396px;
}

.box4 .FondoBlanco{
    background-color: #2727b7;
    
    }
