<div class="box1">
   
        <div class="info">
          <div id="info">
            <h1>iPhone 14 </h1>
            <p>Grande y extragrande. </p>
            <a href="https://www.apple.com/co/iphone-14/">Más informacion ></a>
          </div>
            <a href="https://www.apple.com/co/iphone-14/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 164259.jpg" alt=""></a>
        </div>
       
</div>
<hr>
<div class="box2">
   
    <div class="layer2">
      <div id="layer2">
        <h1 class="newfont">iPhone 14 Pro </h1>
        <p class="newfont" id="texto">Se pasa de pro. </p>
        <a  class="enlace" href="https://www.apple.com/co/iphone-14-pro/">Más informacion ></a>
      </div>
        <a href="https://www.apple.com/co/iphone-14-pro/"><img src="../../../../assets/img/Captura de pantalla 2023-02-09 173538.jpg" alt=""></a>
    </div>
   
</div>
<hr>
<div class="box3">
   
  <div class="layer3">
    <div id="layer3">
      <h1 class="textowatch" ><img  id="apple-icon" src="../../../../assets/img/icons8-mac-os-90.png">WATCH </h1>
      <p  id="textowatch">SERIES 8 </p>
      <p  id="textowatch-sub">Una evolucion muy saludable. </p>
      <a  class="enlace" id="vermas" href="https://www.apple.com/co/apple-watch-series-8/">Más informacion ></a>
    </div>
      <a   href="https://www.apple.com/co/apple-watch-series-8/"><img   id="watch" src="../../../../assets/img/Captura de pantalla 2023-02-10 153712.jpg" alt=""></a>
  </div>
 
</div>
<hr>
 <!--*ngIf="index == 2" -->
<div class="box4">
  <div id="sub_box1"  *ngFor="let item of cajas;let indice= index;" [ngClass]="{FondoBlanco:indice+2 }" >
    <div id="info" >
      <h1 class="titlesb" >{{item.titulo}}</h1>
      <p class="sub-text">{{item.parrafo}}</p>
      <a  class="link"[href]=item.ruta>{{item.masinfor}}</a>
    </div>
       <a  class ="img" [href]=item.ruta><img id="imgbox" [src]="item.img" alt=""></a> 
  </div>
  
</div>
<hr>